<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DbProvider" value="System.Data.SqlClient" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Diploma" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\dev\trabajo-diploma\ConsultorioDigital.UI\App_Data\ConsultorioDigital.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Diploma" connectionString="Data Source=.;Initial Catalog=ConsultorioDigital;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>